body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

#input {
    width: calc(100% - 50px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#addButton {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#addButton:hover {
    background-color: #218838;
}

#todoList {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button.delete, button.complete {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
}

button.complete {
    background-color: #28a745;
}

button.delete:hover {
    background-color: #c82333;
}
button.complete:hover{
    background-color: #218838;
}

.select-multiple {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.select-multiple button {
    padding: 10px;
    border: none;
    background-color: #ff4500;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.select-multiple button:hover {
    background-color: #ffa500;
}

.task-count {
    margin-top: 20px;
}

.task-count button {
    padding: 10px;
    margin-right: 10px;
    border: none;
    background-color: #ffa500  ;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.task-count button:hover {
    background-color:#ff4500 ;
}
